<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a1.campr">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".RegistrationActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".WorkModeActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".ResetActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".AdopterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ViewListerPetActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ViewApplicantsActivity"></activity>
        <activity android:name=".ViewAdopterPetActivity"></activity>
        <activity android:name=".ViewApplicantActivity"></activity>
        <activity android:name=".ViewSwipeCardActivity"></activity>
    </application>

</manifest>